*{
  box-sizing: border-box;
  outline: none;
}


body, html{
  background: #FFF;
  color: var(--color-font);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1;
  min-width: 320px;
  max-width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}
